#aboutme {
    text-align: center;
}
.aboutme-section-description {
    text-align: justify;
    margin-top: 40px;
}
.aboutme-icons {
    font-size: 25px;
    margin-top: 45px;
    margin-bottom: 25px;
}
.aboutme-icon {
    margin: 10px;
    color: var(--titleSectionSecondaryColor);
}
.aboutme-icons > a {
    text-decoration: none;
}
.aboutme-icon:hover {
    cursor: pointer;
    color: var(--titleSectionTertiaryColor);
}
.aboutme-download-link > a {
    color: black;
}